.introWrapper {
  display: flex;
  padding: 100px 100px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.introTitle {
  width: 50%;
  padding: 0px 50px;
}

.introText {
  padding: 0px 50px;
  width: 50%;
}

.introTitle > h1 {
  font-size: 54px;
  font-weight: 600;
}

.introText > h1 {
  font-size: 32px;
  font-weight: 600;
}

.introText > p {
  font-size: 18px;
  font-weight: 500;
  opacity: 30%;
}

.divider {
  border-left: 1px solid var(--color-white);
  height: 200px;
}

.card {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 60px;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}

/* Card CSS */

.cardWrapper {
  width: 359px;
  height: 377px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1.4px solid var(--color-grey);
  border-radius: 14px;
  padding: 35px 25px;
}

.rate {
  font-size: 24px;
  font-weight: 600;
}
.text {
  font-size: 14px;
  font-weight: 500;
  opacity: 30%;
}
.btn {
  width: 121px;
  height: 43px;
  border-radius: 23.5px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  cursor: pointer;
}
